<div class="cart-container">
    <div class="cart-panel">
        <div class="cart-item" *ngFor="let id of keys">
            <img src="{{ getProduct(id).url }}">
            <div class="cart-item-detail">
                <p> {{ getProduct(id).name }} </p>
                <p> {{ getProduct(id).price }} </p>
                <input type="number" [(ngModel)]="quantities[id]" (change)="changeQuantity(id, quantities[id])">
            </div>
        </div>

        <h1>Total: ${{ total }}</h1>
    </div>
    <div class="cart-panel">

    </div>
</div>