<div class="cart-container">
    <div class="cart-panel">
        <div *ngIf="!(keys.length)" class="empty-cart-message">
            <p>Cart is empty</p>
        </div>

        <div class="cart-item" *ngFor="let id of keys">
            <img src="{{ getProduct(id).url }}">
            <div class="cart-item-detail">
                <p> {{ getProduct(id).name }} </p>
                <p> {{ getProduct(id).price }} </p>
                <input type="number" [(ngModel)]="quantities[id]" (ngModelChange)="changeQuantity(id, quantities[id])">
            </div>
        </div>

        <h1>Total: ${{ total }}</h1>
    </div>
    <div class="cart-panel">
        <form #form="ngForm">
            <label for="full-name">Full Name</label><br>
            <input type="text" name="full-name" required minlength="6" [(ngModel)]="fullName"><br>
            <label for="address">Address</label><br>
            <input type="text" name="address" required minlength="6" [(ngModel)]="address"><br>
            <label for="credit-card-number">Credit Card Number</label><br>
            <input type="text" name="credit-card-number" required minlength="6" [(ngModel)]="creditCardNumber"><br>

            <p>We’ll never share your payment details with anyone</p>

            <button [disabled]="form.invalid" routerLink="/confirmation">Submit</button>
        </form>
    </div>
</div>